
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.all {

  background-image: url('/imgs/portfolio.jpg');
  background-size: 300px 150px;
  width: 100%;
  height: 1500px;

background-position: 421% 0; 
background-repeat: no-repeat;
background-size: cover; 
background-size: 90%;
}

.wrapper {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.header-wrapper {
  height: 900px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  
}

.logo h1 {
  font-size: 30pt;
  color: #ff6b56;
}


.menus {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 60px;
  height: 50px;
}

.menu-item {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  /* display: inline-block;
  line-height: 80px; */
  
}

.menu-item:hover {
  border-bottom: 2px solid #ff6b56;
}

.menu-item a {
  text-decoration: none;
  color: #58558a;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.login {
  display: flex;
  width: auto;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  
}

.user-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #ff6b56;
  display: flex;
  align-content: center;
  align-items: center;
  
}
.icon_user {
  
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ff6b56;
  
  display: block;
  margin: auto;
}

.icon_user i {
  line-height: 30px;
  margin-left: 8px;
  color: #fff;
}

.login h3 {
  margin: 0 10px;
}

.slider_wrapper{
  margin-top: 15%;
}

.head_h1  {
  font-size: 20pt;
  color: #585689;
}

.head_2 {
  display: flex;
  align-content: flex-start;
  /* padding: 20px; */
}
.icon_chart-bar i{
  margin-right: 20px;
  padding: 15px;
  border: 3px solid #aea4ed;
  color: #aea4ed;
  font-size: 15pt;
  border-radius: 15px;
}

.slider_wrapper {
  width: 44%;
}

button {
  padding: 20px 50px;
    border-radius: 30px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid salmon;
}

.button .learn_more {
  margin: 75px 0 50px 0;
  cursor: pointer;
}

button:hover {
  background-color: #ff6b56;
  color: #fff;
  /* transform: scale(1.1); */
  border: 1px solid #aea4ed;
}

.head_dots {
  margin: 50px 0;
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.dot-circle {
  list-style-type: none;
  display: flex;
 
}

.dot-circle i {
  color: #ff6b56;
  font-size: 20pt;
}

.dot-circle:hover {
  transform: scale(1.2);
}





.SectionTwo-wrapper {
  width: 100%;
  height: 500px;
  
  display: flex;
}

.sectionTwo-heading {
  /* width: 40%; */
  min-width: 380px;
  /* border: 3px solid grey; */
}

.sectionTwo-heading-wrapper {
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionTwo-images {
  min-width: 600px;
  border: 2px solid #ff6b56;
}
.head_h2 {
  font-size: 22pt;
  color: #585689;
}
.small_text {
  font-size: 8pt;
  color: #ff6b56;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.larger_text {
  color: rgb(90, 86, 142);
  width: 90%;
}

hr {
  height:3px; 
  width: 50px; 
  background-color: #ff6b56; 
}

.image_text_wrapper {
  background-color: #ccc;
  min-width: 300px;
  min-height: 300px;
}