#gallery_wrapper {
    width: 100%;
    height: auto;
}
#gallery-images {
    width: 70%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;

    display: flex;
    flex-flow: row wrap;
    
}
.gallery_image {
    width: 300px;
    height: 170px;
    background-color: yellow;
    position: relative;
    /* margin: 1px; */
}

.gallery_image img {
    display: block;
    width: 100%;
}

.gallery_image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff
}