#slideshow {
    /* display: flex; */
    height: 320px;
    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    width: 650px;
   
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
  
.slide-element {
    width: 200px;
    height: 300px;
    background-color: #ccc;
    margin: 10px;

    /* display: inline-block; */
    flex: 0 0 auto;

}

.slide-text {
   color: #fff;
   text-align: center;
    line-height: 300px;
}
.slide-0 {
    background: url(../imgs/Gallery/Canada.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.slide-1 {
    background: url(../imgs/Gallery/england.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-2 {
    background: url(../imgs/Gallery/scotland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-3 {
    background: url(../imgs/Gallery/Italy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}