#slideshow-wrapper {
    width: 560px;
    position: relative;
}

#slideshow {
    /* display: flex; */
    height: 320px;
    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
    width: 560px;
   
}

#slideshow::-webkit-scrollbar {
    display: none;
    width: 0px;  /*remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
} 
  
.slide-element {
    width: 200px;
    height: 300px;
    background-color: #ccc;
    margin: 10px 20px;

    /* display: inline-block; */
    flex: 0 0 auto;
}


.slide-text {
   color: #fff;
   text-align: center;
    line-height: 300px;
}
.slide-0 {
    background: url(../imgs/Gallery/Canada.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.slide-1 {
    background: url(../imgs/Gallery/england.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-2 {
    background: url(../imgs/Gallery/scotland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-3 {
    background: url(../imgs/Gallery/Italy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .left_arrow {
    width: 40px;
    height: 320px;
    position: absolute;
}
.fa-arrow-left{
    width: 100%;
    height: 40px;
    margin-top: 150px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;

    border-radius: 40px;
    border: 1px solid #ccc;
} */

.left_arrow {
    width: 40px;
    height: 40px;
    margin-top: 150px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;

    border-radius: 40px;
    border: 1px solid #ccc;
    position: absolute;

}



.right_arrow {
    width: 40px;
    height: 40px;
    margin-top: 150px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;

    border-radius: 40px;
    border: 1px solid #ccc;


    position: absolute;
    right: 0;
    margin-right: -20px;
}

.moved_left {
    margin-right: 10px;
    background-color: red;
}